.elementy-blokowe p{
    
    background-color: yellow;
    display: inline;
}

.elementy-liniowe span{
    
    background-color: lime;
    display: block;
}
.lista-inline-block li {
    background: aqua;
    display: inline-block;
}