[title] {
    color: red;
    
}
[title="portfolio"] {
    color: violet;
    
}
[title~="o-mnie"] {
    
background-color: aqua;
}
[title^="więcej"] {
    font-size: 32px;
    color: lime;
}
[title$="więcej"] {
    font-size: 32px;
    color: yellow;
  }

