p {
    color: yellow;
}
#paragraf {
    background-color: aqua;    
}
.par {
    background-color: antiquewhite;
}
.lista > li {
    background-color: red;
    margin-bottom: 10px;
    
}

.lista a {
    background-color: skyblue;
    
}

li#pierwszy + li {
    
    color:orange;
}

*{
    background-color: blue;
    
}